body {
	position: relative;
    overflow: hidden;
}

header {
	height:100vh;
/*
	width: 100%;
	font-family:
*/

}

.headTop {
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: dimgray;
    z-index: -9999;
/*    height: 180px;*/
}

.headTop .mainText {
	display: block;
	position: absolute;
}

.headTop .mainText li:first-child img {
	margin-top: 25px;
	height: 300px;
    animation-duration: 4500ms;;
}

.headTop .mainText li:last-child img {
	top: 330px;
	left: 26px;
	height: 200px;
    animation-duration: 3s;
    position: absolute;
}
#line{
    border-right: 2px solid grey;
    width: 63px;
    height: 550px;
    top: 0;
    left: 20%;
    animation-duration: 5s;
    display: block;
    z-index: -9999px;
}
.search {
	position: absolute;
	width: 125px;
	height: 40px;
	background: rgba(255, 0, 0, 0);
	right: 400px;
	top: 20px;
	z-index: 1;
}

.search > label {
	position: absolute;
	width: 100%;
	top: 28px;
	left: 20px;
	border-bottom: 1px solid black;
}

.search #iSearch {
	background: none;
	border: none;
	margin: 30px 0px;
}


.searchBtn {
	position: absolute;
	background: none;
	display: block;
	top: 22px;
	left: 122px;

}

.searchBtn > img {
	width: 18px;
	height: 18px;
}

.cart,
.login {
	position: absolute;
	z-index: 1;

}

.cart {
	right: 10%;
	top: 50px;

}

.login {
	right: 15%;
	top: 50px;
}
.logo a {
	position: absolute;
	top: 20px;
	right: 20px;
}

.bg {
	height: 100vh;
	position: absolute;
    top: 500px;
	right: 0;
	width: 13%;
    z-index: 999;
}
#line2{
    z-index: -9999;
    background: red;
    position: absolute;
    height: 470px;
    right: 150px;
    border: 1px solid grey;
    bottom: 0px;
    animation-duration: 3000ms;
}

#nav {
	float: right;
	position: absolute;
    width: 130px;
    height: 100%;
    animation-duration: 5500ms;
    right: 0;
}

#nav > li > a {
	font-size: 26px;
	font-family: 'ButlerRegular';
	font-weight: normal;
	font-style: normal;
    line-height: 1.4;
	color: dimgray;
	overflow: visible;
	transition: 100ms;
	position: relative;

}


#nav > li > a:hover {
	color: transparent !important;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

#nav > li:nth-child(7) > a {
	color: crimson;
	text-indent: 84px;
	padding-top: 10px;
	margin-bottom: -10px;
}

#slide1 li{
    position: absolute;
    z-index: -999;
    top: 20%;
    left: 5%;

}

header{
	float:left;
}
#container{
	float: left;
	min-width: 1180px;
	max-width: 1900px;
}

aside{
	position: absolute;
	right:0;
	height:100vh;
}


/*
#box{
    position: absolute;
    z-index: 9999;
    bottom: 50px;
    left: 46%;
    background-color: #4b3723;
    width: 300px;
    height: 180px;
    animation-duration: 1500ms;
}
*/



.carousel1{
	float:left;
	width:1000px;
	position: relative;
/*	overflow: hidden;*/
}
.carousel{
/*	float:left;*/
	
/*	width:30%;*/
}

.carousel span{
	position: absolute;
}


.m-text{
    animation-duration: 4000ms;
	position:absolute;
	 z-index: 9999;
	top:10px;
	right:10px;
}
.m-text h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
    color: black;
    font-weight: 500;
}
.m-text span{
    display: block;
    color: white;
    line-height: 2;
    float: right;
    font-size: 13px;
    width: 320px;
    height: 250px;
    text-align: right;
}
.m-text li:last-child span{
    font-style: italic;
    margin-top: 100px;
}
#slide{
   position: relative;
    margin-left: 1420px;
    z-index: -9999;
}

