/*body {
    height: 100%;
    color: dimgray;
    background-color: white;
    font-family: sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    transition: background 1s ease;
}

.image {
    display: block;
    min-height: 1000px;
    min-width: 1900px;
}
.image li:first-child{
    background-image: url(../images/main1.jpg);
}*/



body {
	position: relative;
	background: #080808;
}

header {
	width: 100%;
	min-width: 1180px;
	font-family:

}

.headTop {
	position: relative;
	font-size: 14px;
	font-weight: 500;
	color: dimgray;
	/*z-index: 1000;*/
}

.headTop li {}

.headTop .mainText {
	display: block;
	position: absolute;
}

.headTop .mainText li:first-child img {
	top: 30px;
	height: 300px;
}

.headTop .mainText li:last-child img {
	top: 330px;
	left: 25px;
	height: 200px;
}

.headTop .mainImg {
	animation: circle 3s 1;
	clip-path: circle(75%);
	position: absolute;
	left: 45%;
	top: 0;
	margin: 0 auto;
	height: 600px;
	width: 600px;
}

.headTop .mainImg img {
	z-index: 999;
	position: absolute;
	margin: 0 auto;
	width: 70vh;
	height: 70vh;
	top: 10%;

}



@keyframes circle {
	0% {
		clip-path: circle(5%);
	}

	50% {
		clip-path: circle(35%);
	}

	100% {
		clip-path: circle(75%);
	}
}




/*
.mainBtn li a > img {
    width: 80px;
    right: 50px;
    top: 30px;
    display: block;
    position: absolute;
}
*/

.search {
	position: absolute;
	width: 125px;
	height: 40px;
	background: rgba(255, 0, 0, 0);
	right: 400px;
	top: 20px;
	z-index: 1;
}

.search > label {
	position: absolute;
	width: 100%;
	top: 28px;
	left: 20px;
	border-bottom: 1px solid black;
}

.search #iSearch {
	background: none;
	border: none;
	margin: 30px 0px;
}


.searchBtn {
	position: absolute;
	background: none;
	display: block;
	top: 22px;
	left: 122px;

}

.searchBtn > img {
	width: 18px;
	height: 18px;
}

.cart,
.login {
	position: absolute;
	z-index: 1;

}

.cart {
	right: 10%;
	top: 50px;

}

.login {
	right: 15%;
	top: 50px;
}

.button {
	width: 100%;
	height: 100vh;
	display: flex;
	overflow: visible;
	transition: 100ms;
	position: absolute;
	left: 0%;
	top: 0;
	margin: 0 auto;
}


.button .enter {
	z-index: 999;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 25px;
	font-family: 'ButlerRegular';
	font-weight: normal;
	font-style: normal;
	color: white;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: white;
/*
	animation: circle 3s 1;
	clip-path: circle(100%);
	transform: scale(0.1)
*/

}

.button a {
	display: block;
	height: 100%;
	line-height: 100px;
	text-align: center;
}



/*
@keyframes circle {
	0% {
		
		clip-path: circle(5%);
	}

	50% {
		clip-path: circle(55%);
	}

	100% {
		
		clip-path: circle(100%);
	}
}
*/


.preMain {
	position: relative;
	margin: 0 auto;
	height: 300px;
	color: transparent;
	font-size: 7vw;
	font-weight: 500;
	letter-spacing: -0.1em;
}

.preMain > div {
	position: absolute;
	font-family: 'ButlerRegular', serif;
	font-weight: normal;
	font-style: normal;
	top: 100%;
	/*right: 10%;*/
	left: 18%;
	color: dimgray;
	pointer-events: none;
}

.preMain > div:nth-child(1) {
	-webkit-mask-image: linear-gradient(black 25%, transparent 25%);
	mask-image: linear-gradient(black 25%, transparent 25%);
	animation: LeWeekend1 7s 1;
}

.preMain > div:nth-child(2) {
	-webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
	mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
	animation: LeWeekend2 7s 1;
}

.preMain > div:nth-child(3) {
	-webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
	mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
	animation: LeWeekend3 7s 1;
}

.preMain > div:nth-child(4) {
	-webkit-mask-image: linear-gradient(transparent 75%, black 75%);
	mask-image: linear-gradient(transparent 75%, black 75%);
	animation: LeWeekend4 7s 1;
}


@keyframes LeWeekend1 {
	0% {
		transform: translateX(100%);
	}

	26% {
		transform: translateX(0%);
	}

	83% {
		transform: translateX(-0.1%);
	}

	/* 100% {
    transform: translateX(-120%);
  }*/
}

@keyframes LeWeekend2 {
	0% {
		transform: translateX(100%);
	}

	24% {
		transform: translateX(0.5%);
	}

	82% {
		transform: translateX(-0.2%);
	}

	/*100% {
    transform: translateX(-125%);
  }*/
}

@keyframes LeWeekend3 {
	0% {
		transform: translateX(100%);
	}

	22% {
		transform: translateX(0%);
	}

	81% {
		transform: translateX(0%);
	}

	/* 100% {
    transform: translateX(-130%);
  }*/
}

@keyframes LeWeekend4 {
	0% {
		transform: translateX(100%);
	}

	20% {
		transform: translateX(0%);
	}

	80% {
		transform: translateX(0%);
	}

	/*  100% {
    transform: translateX(-135%);
  }*/
}

/*
.images {
    position: relative;
}



.images img {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    display: block;
}
*/
input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked ~ nav {
	display: block;
}

.logo a {
	position: absolute;
	top: 20px;
	right: 20px;
}

.bg {
	height: 100vh;
	position: fixed;
	right: 0;
	width: 20%;
	margin-top: 100px;
	background: transparent;
}

nav {
	width: 100%;
	height: 100%;
	float: right;
	position: fixed;
}





#nav > li > a {
	font-size: 36px;
	font-family: 'ButlerRegular';
	font-weight: normal;
	font-style: normal;
	color: dimgray;
	overflow: visible;
	transition: 100ms;
	position: relative;

}


#nav > li > a:hover {
	color: transparent !important;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

#nav > li:nth-child(7) > a {
	color: crimson;
	text-indent: 84px;
	padding-top: 10px;
	margin-bottom: -10px;
}



/*


.btn{
    float: right;
}
.btn>li{
    float: left;
    margin: 10px;
}
.btn>li>a{
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    text-indent: -9999px;
}
*/
