
.background {
    position: absolute;
    background-image: url(../images/sofa-bg.jpg);
    width: 100%;
    height: 1000px;
    top: -200px;
    right: 0;
    z-index: -9999;
}


.pics {
    /*	position: absolute;*/
    width: 0%;
    z-index: 1;
    height: 100%;
}
.small {
	height: auto;
	text-align: left;
	margin-left: 10%;
	margin-bottom: -37px;
}
.pics li {
    float: left;
}


.middle > span {
    position: absolute;
    
}

.paper{
    z-index: 999;
    position: absolute;
    left: 2%;
    top: 0;
}
/*
.middle > .b-sofa {
    display: block;
}
*/

